/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--font-main), sans-serif;
  }
}

.page {
  margin: 0 clamp(1rem, -0.0563rem + 4.5070vw, 4rem);
  font-family: var(--font-main), sans-serif;
  font-variation-settings: var(--font-text-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--accent-color);
  background-image: repeating-linear-gradient(var(--background-gradient-right)),
      repeating-linear-gradient(var(--background-gradient-bottom)),
      repeating-linear-gradient(var(--background-gradient-color));
  background-size: cover;
  background-attachment: fixed;
}


.header {
  max-width: 700px;
  background-color: var(--background-color);
  margin: 104px auto 103px;
  font-family: PressStart2P, sans-serif;

}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 135px;
}

.header__title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  font-weight: 400;
  line-height: 65px;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.theme-menu {
  margin-left: 20px;
  margin-bottom: 26px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.theme-menu__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

}


.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled:before {
  content: '▶';
  width: 14px;
  height: 14px;
  position: absolute;
  left: -15px;
  top: 0;
  animation: 0.5s moving ease-in-out infinite alternate-reverse;
}


.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}



.theme-menu__button::after {
  display: block;
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid var(--accent-color);
  transition: width 0.3s ease-in-out;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.main__inner {
  display: flex;
  flex-direction: column;
  gap: 52px;
  margin-bottom: 47px;
}


.card {
  background-color: var(--background-color);
  max-width: 696px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 2px solid var(--accent-color);
}


@supports (-webkit-text-stroke: .5px var(--background-color)) {
  .card__logo {
      -webkit-text-stroke: .5px var(--background-color);
      text-shadow: none;
  }
}

.card__title-text {
  padding: 3px 0 5px 7px;
  border-bottom: 2px solid var(--accent-color);
}


.card__title {
  font-variation-settings: "wght"var(--font-title-weight);
  font-size: 18px;
}

.card__img {
  position: relative;
  max-width: 696px;
  max-height: 696px;
  width: 100%;
}

.card__logo {
  position: absolute;
  right: 21px;
  top: 26px;
  font-family: PressStart2P, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
      -1px 0px 1px var(--background-color), 1px 0px 1px var(--background-color);
  color: var(--accent-color);
  z-index: 10;
}

.card__logo-mg {
  top: 32px;
}

.card__image {
  object-position: center;
  object-fit: cover;
  max-width: 693px;
  width: 100%;
}

.card__image.filter-blur {
  filter: blur(0.1rem);
}

.card__image.filter-brightness {
  filter: brightness(50%);
}

.card__image .filter-contrast {
  filter: contrast(48%);
}

.card__image.filter-many {
  filter: invert(1) brightness(200%) saturate(60%) hue-rotate(90deg);
}

.card__image.filter-grayscale {
  filter: grayscale(0.4);
}

.card__image.filter-saturate {
  filter: saturate(121%);
}

.card__image.filter-hue-rotate {
  filter: hue-rotate(-180deg);
}

.card__image.filter-sepia {
  filter: sepia(40%);
}


.card__text {
  font-size: 18px;
  font-variation-settings: "wght"var(--font-text-weight);
  ;
  line-height: 21px;
  margin: 25px 23px 23px 23px;
}


.card__btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  padding-right: 25px;
  margin-bottom: 24px;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__like-button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  max-width: 130px;
  width: 100%;
  padding: 10px 20px 10px 20px;
  border: 2px solid var(--accent-color);
}

button:has(.button__text)::before {
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

button:has(.button__text):hover:before {
  transform: translateX(0);
}

.card__icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px var(--accent-color) solid;
  transition: border 0.3s ease;
}

button:has(.button__text):focus {
  outline: none;
}

button:has(.button__text):focus-visible {
  border: 2px var(--accent-color) solid;
}

.card__btn .like-icon {
  color: red;
  background-color: transparent;
  border: none;
  fill: red;
}

.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--btn-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: PressStart2P, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  padding-top: 7px;
}

.button__text-save {
  margin-left: 8px;
  border: none;
  padding-top: 3px;
}

.save {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

.save button {
  background-color: var(--background-color);
  padding: 13px 20px 15px 20px;
  display: flex;
  border: 2px solid var(--accent-color);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.save__svg {
  z-index: 2;
  position: relative;
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  color: var(--background-color);
}

.save__svg use {
  color: var(--btn-color);
}



.core {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill .3s linear;
}

.main-body {
  transition: fill .3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill .3s linear;
  transition-delay: 0.05s;
}


.like-icon:active .core {
  fill: var(--spark-color);
  transition: fill .3s linear;
}

.like-icon:active .main-body {
  fill: var(--spark-color);
  transition: fill .3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--spark-color);
  transition: fill .3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--spark-color);
  transition: fill .3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--spark-color);
  transition: fill .3s linear;
  transition-delay: 0.06s;
}


.is-liked .heart {
  transition: animation 0.3s ease-in;
  animation: scale 0.3s alternate;
  animation-delay: 0.1s;
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.is-liked .sparks {
  transition: animation 0.3s ease-in;
  animation: spark 0.3s;
  animation-delay: 0.3s;
}


.like-icon:not(.is-liker) {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}

dialog[open] {
  background-color: var(--background-color);
  color: var(--accent-color);
}


dialog[open] .dialog__info {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 30px;
}

.dialog__text {
  max-width: 234px;
  font-family: PressStart2P, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

.dialog .save__svg {
  width: 40px;
  height: 40px;
}

dialog button {
  min-width: 293px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  padding: 9px 17px 9px 17px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 0 30px 30px 30px;
}

dialog::backdrop {
  background: rgb(0, 0, 0);
  opacity: 0.75;
}

@media (max-width: 600px) {

  .page {
      margin: 0;
  }

  .header {
      max-width: 375px;
  }

  .header__inner {
      padding-top: 110px;
  }

  .header__title {
      margin-bottom: 0px;
  }

  .header__subtitle {
      margin-bottom: 20px;
      margin-top: 5px;
  }

  .main__inner {
      gap: 47px;
      margin-bottom: 47px;
  }

  .card__title {
      max-width: 351px;
  }

  .card__text {
      max-width: 328px;
      margin-right: 28px;
  }

  .card__text-wth {
      max-width: 331px;
  }

  .card__text-width {
      max-width: 345px;
  }

  .card__text:last-child {
      padding-top: 23px;
      margin-bottom: 0;
  }

  .card__logo {
      right: 9px;
      top: 22px;
  }

  .card__btn {
      margin-bottom: 28px;
  }

  .card__img {
      max-width: 371px;
      max-height: 371px;
  }

  .card__image {
      max-width: 371px;
      max-height: 371px;
  }

  .save {
      margin-bottom: 60px;
  }

  .save button {
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .save__svg {
      width: 28px;
      height: 28px;
  }

  .button__text-save {
      border: none;
      padding-top: 10px;
      margin-left: 0;
  }

  dialog[open] {
      max-width: 341px;
  }

  dialog[open] .dialog__info {
      margin: 30px 24px;
  }

  dialog button {
      min-width: 257px;
  }

  .dialog .save__svg {
      width: 95px;
  }


}