/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {

  margin: 0 clamp(1rem, -0.0563rem + 4.5070vw, 4rem);
  font-family: var(--font-main), sans-serif;
  font-variation-settings: var(--font-text-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--accent-color);
  background-image: repeating-linear-gradient(var(--background-gradient-right)),
      repeating-linear-gradient(var(--background-gradient-bottom));
  background-size: cover;
}


.header {
  max-width: 700px;
  height: 364px;
  background-color: var(--background-color);
  margin: 104px auto 100px;
  font-family: PressStart2P, sans-serif;

}

.header__inner {
  height: 364px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.header__title {
  font-size: clamp(3.0625rem, 2.6444rem + 1.784vw, 4.25rem);
  font-weight: 400;
  line-height: 65px;
  margin-bottom: 18px;
}

.header__subTitle {
  font-size: clamp(0.875rem, 0.6549rem + 0.939vw, 1.5rem);
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.theme-menu {
  margin-left: 20px;
  margin-bottom: 26px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.theme-menu__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

}


.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled:before {
  content: '▶';
  width: 14px;
  height: 14px;
  position: absolute;
  left: -15px;
  top: 0;
  transition: animation ease-in-out;
  animation: 0.5s move infinite alternate-reverse;
}


.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
}

.theme-menu__button:focus-visible {
  outline: none;
}



.theme-menu__button::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  outline: none;
  transform: scaleX(1);
}

.main__inner {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 50px;
}


.card {
  background-color: var(--background-color);
  max-width: 696px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  border: 2px solid var(--accent-color);
}


.card__logo {
  position: absolute;
  right: 26px;
  top: 61px;
  font-family: PressStart2P, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
      -1px 0px 1px var(--background-color), 1px 0px 1px var(--background-color);
  color: var(--accent-color);
}

@supports (-webkit-text-stroke: .5px var(--background-color)) {
  .card__logo {
      -webkit-text-stroke: .5px var(--background-color);
  }
}

.card__title {
  padding: 3px 0 10px 7px;
  font-weight: 700;
  font-size: 18px;
}

.card__img {

  max-width: 696px;
  max-height: 696px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card__image{
    object-position: center;
    object-fit: cover;
    max-width: 693px;
}

.card__img1 {
  filter: blur(0.4rem);
}

.card__img2 {
  filter: brightness(50%);
}

.card__img3 {
  filter: contrast(48%);
}

.card__img4 {
  filter: invert(1) brightness(200%) saturate(60%) hue-rotate(90deg);
}

.card__img5 {
  filter: grayscale(0.4);
}

.card__img6 {
  filter: saturate(121%);
}

.card__img7 {
  filter: hue-rotate(-120deg);
}

.card__img8 {
  filter: sepia(40%);
}


.card__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding: 24px 25px 2px;
}


.card__btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  padding-right: 25px;
  margin-bottom: 24px;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__like-button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  max-width: 130px;
  width: 100%;
  padding: 10px 20px 10px 20px;
  border: 2px solid var(--accent-color);
}

.card__like-button::before {
  display: block;
  content: "";
  position: absolute;
  height: 43.59px;
  width: 100%;
  left: 0;
  top: 0;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover:before {
  transform: translateX(0);
}

.card__icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px var(--accent-color) solid;
}

.card__btn .like-icon {
  color: red;
  background-color: transparent;
  border: none;
  fill: red;
}

.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--btn-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: PressStart2P;
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  padding-top: 7px;
}

.button__text-save {
  border: none;
}

.save {
  display: flex;
  justify-content: center;
}

.save button {
  background-color: var(--background-color);
  padding: 15px 20px 15px 20px;
  display: flex;
  border: 2px solid var(--accent-color);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.save button::before {
  display: block;
  content: "";
  position: absolute;
  height: 130px;
  width: 100%;
  left: 0;
  top: 0;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.save button:hover:before {
  transform: translateX(0);
}

.save__svg {
  z-index: 2;
  position: relative;
  max-width: 30px;
  max-height: 25px;
  mix-blend-mode: difference;
  color: var(--background-color);
}

.save__svg-mobile {
  display: none;
}

.core {
  transition: fill 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill .3s linear;
}

.main-body {
  transition: fill .3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill .3s 0.05s linear;
}


.like-icon:active .core {
  fill: var(--spark-color);
  transition: fill .3s linear;
}

.like-icon:active .main-body {
  fill: var(--spark-color);
  transition: fill .3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--spark-color);
  transition: fill .3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--spark-color);
  transition: fill .3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--spark-color);
  transition: fill .3s 0.06s linear;
}

.is-liked {
  transition: animation 0.1s ease-in;
}

.is-liked .heart {
  transition: animation .1s ease-in;
  animation: scale 0.3s none;
}

.sparks {
  opacity: 0;
}

.is-liked .sparks {
  transition: spark .3s ease-in;
  animation: spark .3s normal backwards;
}


.like-icon:not(.is-liker) .core .main-body .contour {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}

dialog[open] {
  background-color: var(--background-color);
  color: var(--accent-color);
}


dialog[open] .dialog__info {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.dialog__text {
  max-width: 234px;
  font-family: PressStart2P, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

.dialog__save-svg {
  max-width: 40px;
  max-height: 40px;
}

dialog button {
  min-width: 293px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  padding: 9px 17px 9px 17px;
  cursor: pointer;
}

dialog::backdrop {
  background: rgb(0, 0, 0);
  opacity: 0.75;
}

@media (max-width: 600px) {

  .page {
      margin: 0;
  }

  .header {
      max-width: 375px;
      max-height: 327px;

  }

  .header__inner {
      max-height: 327px;

  }

  .header__title {

      margin-bottom: 0px;
  }

  .main__inner {
      gap: 47px;
      margin-bottom: 42px;
  }


  .card__title {
      max-width: 351px;
  }



  .card__text {
      max-width: 328px;
      padding-left: 25px;
      padding-top: 23px;
      padding-right: 0;
  }

  .card__text-wth {
      max-width: 331px;
  }

  .card__text-width {
      max-width: 345px;
  }

  .card__text:last-child {
      padding-top: 23px;
  }




  .card__logo {
      right: 12px;
      top: 57px;
  }

  .card__logo-mob {
      right: 11px;
      top: 75px;
  }

  .card__btn {
      margin-bottom: 28px;
  }

  .card__img {
      max-width: 371px;
      max-height: 371px;
  }

  .card__image {
      max-width: 371px;
      max-height: 371px;
  }

  .save button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .save__svg {
      display: none;
  }

  .save__svg-mobile {
      display: block;
      z-index: 2;
      position: relative;
      max-width: 29px;
      max-height: 28px;
      mix-blend-mode: difference;
      color: var(--background-color);
  }

  dialog[open] {
      max-width: 341px;
  }

  .dialog__save-svg {
      display: block;
  }


}